.img2{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
.divbigabout{
    width: 100vW;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 253, 254);
    color: rgb(2, 12, 52);

}
.divAbout{
    margin: 10px;
    width: 30%;
}

.namePhoto{
    display:flex;
    align-items:center;
    flex-direction: row;
    margin: 10px;
}
.headAbout{
    font-size: 200%;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 500;
}
.divAboutSystem{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 7%;
    margin-bottom: 3%;
}
.divAboutSystem h2{
    text-align: center;
}
.divAboutSystem h1{
    text-align: center;
    font-size: 200%;
    font-weight: 500;
}
.butsee{
    text-align: center;
    position: relative;
    padding: 10px 6px;
}
.butsee button{
    width: fit-content;
    height: fit-content;
    background-color:rgba(140, 221, 221, 0.792);
    padding: 12px 18px;
    border-radius: 30px;
    font-weight: 600;
    color: rgb(2, 46, 72);
}
.exbuttonabout{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    left:98%;
    top:2%;
}