.divbigaddsity{
    height: 100vh;
    width: 100vw;
    background-color: #e4ffc6;
}
.NewSity{
    border-width: 1px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    position: relative;
    top:50px;
    width: 400px;
    left:50px;
    border-radius: 5px;
    font-size: 23px;
}
.form2{
    width: 500px;
    height: 300px;
    background-color: #95b488;
    color:#1a3404;
    position: absolute;
    left: 32%;
    top:20%;
    border-radius: 5px;
    
}
.lgsity{
    position: relative;
    top:15px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.button2{
    background-color:rgb(39, 71, 2);
    width: 400px;
    height: 60px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: medium;
    color:azure;
    position: relative;
    top:50px;
    left: 50px;
    cursor: pointer;
}

.button2:active {
    background:#699b55;
    border-color: #f0f4ed;
    color: rgb(235, 253, 230);
}
.head{
    border-color: #4b4a49;
    position: relative;
    top:30px;
}
.list{
    border-color: rgb(16, 47, 1);
    background-color: #fbfff8;
    color: rgb(16, 47, 1);
}

