.buttonam{
    background-color:#2f4371;
    width: 400px;
    height: 54px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: medium;
    color:azure;
    }
.buttonam:hover{
    border-width: 3px;
    border-color:#c0c0c0;
   
}
.buttonam:focus{
    outline-color: #4b4a49;
}
.buttonam:active {
    top:1px;
    background:#afa5ff;
    border-color: #020221;
    color: #0e1d03;
   }
.txtadmin{
    font-size: 500%;
    margin-bottom: 5%;

}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.divbig{
    height: 100vh;
    width: 100vw;
    background-color: #e6f1f5;
    color: #002a3f;
    display: flex;
    justify-content: center;

}
