/* html{
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: medium;
} */
.buttonam{
    background-color:rgb(211 115 33);
    width: 400px;
    height: 54px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: medium;
    color:azure;
    position: relative;
    left:15%;
    }
.buttonam:hover{
    border-width: 3px;
    border-color:#c0c0c0;
   
}
.buttonam:focus{
    outline-color: #4b4a49;
}
.buttonam:active {
    top:1px;
    background:#f5d496;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color: rgb(243, 154, 10);
    color: rgb(243, 154, 10);
   }
.txtadmin{
    font-size: 500%;
    margin-bottom: 5%;

}
.div2{

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    color:#5c3f0d;
}
.divbig{
    height: 100vh;
    width: 100vw;
    background-color: #f7e6c8;
    display: flex;
    justify-content: center;

}
