.divhome{
    height: 100vh;
    width: 100vw;
    background-color: #f0f9e0;
    color: #132b02;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.but{
    background-color:#5e9400;
    width: 350px;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: medium;
    color:azure;
    }
.but:hover{
    border-width: 1px;
    border-color:#4b4a49;
   
}
.but:focus, input:focus{
    outline-color: #4b4a49;
}
.but:active {
    background:#dcf9aa;
    border-color: #2c4618;
    color: #0e1d03;
}
.in{
    width: 350px;
    height: 40px;
    border-width: 1px;
    border-color:  #0e1d03;;
    padding-left: 12px;
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 140px
}

.form1 {
    position: absolute;
    left: 50%;
    top: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
}
.lab{
    text-align:left;
    position: relative;
    left: -140px;
}


