.div{
    height: 100vh;
    width: 100vw;
    background-color: #e6f1f5;
    color: #002a3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.managlist{
    position: relative;
    top:85px;
    padding:2%;
    height: max-content;
}
.table{
	border: 1px solid #eee;
    
    font-size: 20px;
    max-width: 725px;
    width: 725px;

}
.table th{
	font-weight: bold;
	background: #92c5d8;
	border: 1px solid #b8e0ef;
    height: 50px;
    
}
.table th + th{
	padding: 10px 80px;
}

.table td {
	padding: 10px;
	border: 1px solid #92c5d8;
    text-align: center;
    height: 20px;
}
.table caption{
    text-align: left;
    font-size: 30px;
}
.table tbody tr:nth-child(odd){
	background: #c9ebf8;
}
.table tbody tr:nth-child(even){
	background: #74b6cecd;
}

.Myform{
    background-color:#9bd0e4;
    
    width: 350px;
    height: 220px;
    font-size: 20px;
    border-radius: 7px;
    position: relative;
    top:160px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 60px;
}
.Myform legend{
    position: relative;
    bottom: 65px;
    right: 20px;
    font-size: 30px;
}

.add{
    width: 200px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    cursor:text;
    font-size: 20px;
    margin-left: 10px;
    padding-left: 8px;
}
.lbl{
    max-width: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
    padding-bottom: 20px;
}
#name .add{
    position: relative;
    left:40px;
}
#login .add{
    position: relative;
    left:30px;
}
#password .add{
    position: relative;
    left:10px;
}
.cent{
    color: #020221;
    font-weight: bold;
    cursor:pointer;
    font-size: 25px;
    position: relative;
    bottom: 50px;
    left: 30%;
}
.cent:hover{
    color:rgb(34, 63, 141);
    
}
.cent:active{
    font-size:25px;
    text-shadow: 2px 2px 5 rgb(84, 27, 27);
}
.ex{
    font-size: 400%;
    color:rgb(84, 27, 27);;
    position: absolute;
    left:96%;
}
.ex:active{
    color:rgb(213, 184, 184);
}
