.bigdivformmod {
    width: 100vW;
    height: 100vh;
    display: flex;
    background-color: rgb(245, 253, 254);
    color: rgb(2, 12, 52);
    flex-direction: row;
    justify-content: end;
}

.columndiv {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.divwithform {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.form5 {
    background-color: #7191b1b0;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.form5 legend {
    font-size: 17px;
    padding: 5px;
    margin-left: 25px;margin-right: 25px;
    margin-bottom: 10px;

}

.form5 label {
    padding-left: 15px;


}
.strocktimer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.strocktimer label{
    position: relative;
    top:5px;
}
.addtime2 {

    width: 130px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-color: rgb(2, 12, 52);
    border-width: 1px;
    border-radius: 4px;
    cursor: text;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;


}


.form5 button {
    border-radius: 5px;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    margin: 7px;
}

#pusk {
    height: 35px;
    width: 180px;
    color: #fffdfd;
    background-color: rgb(2, 12, 52);
    border-radius: 25px;
    margin-left: 10px;

}

#pusk:hover {
    border-width: 1px;
    border-color: rgba(195, 205, 248, 0.595);

}

#pusk:focus {
    outline-color: rgba(195, 205, 248, 0.595);
}

#pusk:active {
    color: rgb(2, 12, 52);
    background-color: rgba(66, 85, 166, 0.595);
}

#x1 {
    background-color: #edf0f3d4;
    color: rgb(2, 12, 52);
}

#x2 {
    background-color: #edf0f3d4;
    color: rgb(2, 12, 52);
}

#x3 {
    background-color: #edf0f3d4;
    color: rgb(2, 12, 52);
}

.timer {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left:20%;
    top:2%
}


.table3 {
    border: 1px solid #eee;
    vertical-align: bottom;
    max-width: 700px;
    width: 700px;

}

.table3 th {
    background:  rgb(5, 23, 95);
    color: #F7F7F7;
    border: 1px solid rgba(14, 28, 47, 0.571);

}

.table3 th+th+th+th {
    padding: 1px 3px;
}

.table3 td {
    border: 1px solid rgba(14, 28, 47, 0.571);
    text-align: center;
    height: 20px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table3 caption {
    text-align: center;
    font-size: 20px;
}

.table3 tbody tr:nth-child(odd) {
    background: #F7F7F7;
}

.table3 tbody tr:nth-child(even) {
    background: #7191b1b0 ;
}

.trtab {
    font-size: x-small;
}

.rec {

    width:280px;
    height: 70px;
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 7px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #385572b0;

}

.sqvare {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    border-radius: 7px;
    border-color: transparent;
    background-color: transparent;
    background-image: url('/public/picture/Vector-1.png');
    background-repeat: no-repeat;
    background-size: 30px 35px;
    background-position: center;
  }
  .sqvare:hover
  {
    border-color: #385572b0;
  }
  .treug {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    border-radius: 7px;
    border-color: transparent;
    background-color: transparent;
    background-image: url('/public/picture/Vector-2.png');
    background-repeat: no-repeat;
    background-size: 30px 35px;
    background-position: center;
  }
  
  .treug:hover
  {
    border-color: #385572b0;
  }
  
  .pause{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    border-radius: 7px;
    border-color: transparent;
    background-color: transparent;
    background-image: url('/public/picture/Vector.png');
    background-repeat: no-repeat;
    background-size: 30px 35px;
    background-position: center;
  }
  .pause:hover
  {
    border-color: #385572b0;
  }

.ex4 {
    padding: 5px;
    padding-right: 30px;
    padding-left: 20px;
    margin-top: 10px;
    color: #021c31;
}
.ex4:hover{
    color: rgb(182, 202, 246) ;
}
.ex4:active{
    color: rgb(101, 99, 255) ;
}
.buttonex{
    font-size:medium;
    position: absolute;
}
.divwithtable{
    margin-top: 30px;
}