.table2{
	border: 1px solid #eee;
    vertical-align: bottom;
    max-width: 700px;
    max-height: 700px;
    width: 750px;
    margin: 20px;
}
.table2 th{
	background: rgba(255, 244, 255, 0.808);
	border: 1px solid #dddddd;
    padding: 8px;
    font-size: 10px;
    
}
.table2 th+th+th+th{
	padding: 7px 5px;
}


.table2 td {
	padding: 5px;
	border: 1px solid rgb(222, 180, 226);
    text-align: center;
    height: 30px;
    font-size: 12px;
}
.table2 caption{
    text-align: left;
    font-size: 30px;
}
.table2 tbody tr:nth-child(odd){
	background: rgba(116, 91, 139, 0.33);
}
.table2 tbody tr:nth-child(even){
	background: rgba(255, 244, 255, 0.808);
}
.trtab{
    font-size: small;
}
.divsep{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: rgb(234, 211, 255);
    color: rgb(23, 1, 44);
}


.formsep{
    max-height: 100vh;
    width: 420px;
    height: fit-content;
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 10px;
    border-radius: 10px;
    color: #36022f;
    background-color: rgba(211, 179, 241, 0.982);
    font-size: 17px;

}
.formsep legend{
    position: relative;
    top: -45px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #f9f9f9;
}
.formsep label{
    position: relative;
    top:-10px;
}
#firstlab{
    position: relative;
}

.addsep{
    width: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
   
    left: 100px;
    padding: 5px;
    margin-left: 30%; 
    margin-top: -30px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.addtime{
    width: 160px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 30%; 
    margin-top: -30px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    cursor:text;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}


#tpr{
    position: relative;
    left:70px;

}
#totpr{
    position: relative;
    left:70px;
}

#bb{
    position: relative;
    top:-20px;
    left: 125px;
}
.centr{
    font-weight: bold;
    cursor:pointer;
    font-size: 25px;
    position: relative;
    bottom: 50px;
    left: 30%;
}
.centr:hover{
    color:rgb(251, 247, 251);
    
}
.centr:active{
    color:rgba(35, 24, 35, 0.808);
    
}
.centr:disabled{
    color: #d02436;
}
.ex{
    font-size: 300%;
    position: absolute;
    left:96%;
}
.ex:active{
    color:rgb(213, 184, 184);
}
.eradd{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}