.table2{
	border: 1px solid #eee;
    vertical-align: bottom;
    max-width: 700px;
    width: 750px;

    

}
.table2 th{
	background: rgba(255, 244, 255, 0.808);
	border: 1px solid #dddddd;
    padding: 8px;
    
}
.table2 th+th+th+th{
	padding: 10px 20px;
}


.table2 td {
	padding: 10px;
	border: 1px solid rgb(222, 180, 226);
    text-align: center;
    height: 20px;
    font-size: 15px;
}
.table2 caption{
    text-align: left;
    font-size: 30px;
}
.table2 tbody tr:nth-child(odd){
	background: rgba(116, 91, 139, 0.33);
}
.table2 tbody tr:nth-child(even){
	background: rgba(255, 244, 255, 0.808);
}
.trtab{
    font-size: small;
}
.divsep{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(234, 211, 255);
    color: rgb(23, 1, 44);
}


.formsep{
    background-color:#F7F7F7;
    width: 500px;
    height: 530px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 50px;
    border-radius: 10px;
    background-color: rgba(116, 91, 139, 0.33);
    font-size: 17px;
}
.formsep legend{
    position: relative;
    top: -45px;
    left: -25px;
    font-size: 30px;
}
.formsep label{
    position: relative;
    top:-10px;
}
#firstlab{
    position: relative;
}
.addsep{
    width: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
   
    left: 100px;
    padding: 5px;
    margin-left: 30%; 
    margin-top: -30px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.addtime{
    width: 160px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 30%; 
    margin-top: -30px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    cursor:text;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}


#tpr{
    position: relative;
    left:70px;

}
#totpr{
    position: relative;
    left:70px;
}

#bb{
    position: relative;
    top:-20px;
    left: 125px;
}
.centr{
    font-weight: bold;
    cursor:pointer;
    font-size: 25px;
    position: relative;
    bottom: 50px;
    left: 30%;
}
.centr:hover{
    color:rgba(255, 244, 255, 0.808);
    
}
.centr:active{
    color:rgba(35, 24, 35, 0.808);
    
}
.ex{
    font-size: 300%;
    position: absolute;
    left:96%;
}
.ex:active{
    color:rgb(213, 184, 184);
}


